<h1>All Listings</h1>
<% if flash[:success] %>
  <h3><%= flash[:success] %></h3>
<%end%>

<% if flash[:mob] %>
  <h3><%= flash[:mob] %></h3>
<%end%>

<div class="flex-container">
  <% @listings.each do |listing| %>
    <div class="card"><%=link_to listing.cat.name, listing_path(listing) %>
      <a href="<%=listing_path(listing)%>"><img src="<%= listing.cat.image_url%>">
    </div>
  <% end %>
</div>