<h1>Welcome to the Cat Sancutary!</h1>

<%= @adoption_center.name %><br>
<%= @adoption_center.location %>

<!-- <%= form_tag  %>

<%= form_tag("") do %>  
Name: <%= text_field_tag "name" %><br> 
Email: <%= text_field_tag "email" %>
<%= submit_tag "Create Person" %>
<% end %> -->

<!-- <form action="/adoption_centers/new" method="get"></form> -->

<form action="<%= success_path %>" method="GET">
<label>Post title:</label><br>
<input type="text" id="post_title" name="post[title]"><br>
<label>Post description:</label><br>
<textarea id="post_description" name="post[description]"></textarea><br>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="submit" value="Submit Post">
</form>


